<li class="ui-state-default">
  <div class="checkbox">
    <label id="todo{{todo.id}}" class="{{if todo.completed todo-completed}}">
      {{input type="checkbox" name="isAdmin" checked=todo.completed}}
      {{todo.title}}
    </label>

  </div>
</li>
